.cart {
    padding:1rem;
}
.cart_page_header {
    font-size:2.3rem;
    text-align:center;
    margin-bottom:1rem;
}
.cart_wrapper {
    @include flexbox(space-between , flex-start);
}
.cart_item {
    padding:2rem;
    border-bottom:1px solid $light;
    border-top:1px solid $light;
    background:$light;
    .cart_item_quantity_input{
        background:$light;
        width:50%;
        padding:.5rem;
    }
}
.cart_item_wrapper {
    flex:.78;
}
.cart_summary_wrapper {
    flex:.2;
    background:$light;
    padding:1rem;
    margin:0 auto;
    button {
        background:$primary-color;
        color:white;
        font-size:.9rem;
        border-radius:.2rem;
        text-transform: uppercase;
    }
}
.cart_summary_wrapper .cart_summary_row{
    margin:2rem 0;
    @include flexbox(space-around , center);
    span:first-child {
        flex:.8;
    }
    span:last-child{
        flex:.2;
    }
    input {
        background:white;
        padding:.5rem;
        border-radius:.1rem;
        width:100px;
    }
}
.cart_item_top_wrapper{
    @include flexbox(space-between , center);
    align-items: center;
    gap:2rem;
    margin:1rem 0;
    width:80%;
}
.cart_item_bottom_wrapper{
    @include flexbox(space-between , center);
    width:80%;
}
.cart_item_product_wrapper {
    @include flexbox(flex-start , center);
    gap:2rem;
}
.cart_item_product_wrapper .cart_item_img_wrapper {
    position:relative;
    border-radius:.1rem;
    width:6rem;
    height:6rem;
    img {
        object-fit:cover;
    }
}
.cart_item_quantity {
    @include flexbox(flex-start , center);
    gap:.5rem;
    .cart_item_quantity_value , .cart_increment_btn_wrapper {
        background:$light;
        padding:.2rem .7rem;
        border-radius:.2rem;
    }
    .cart_increment_btn_wrapper{
        background:$primary-color;
        color:white;
    }
}
.cart_item_product_name{
    font-weight: bolder;
}

.cart_item_remove_btn {
    padding:.3rem 1.5rem;
    border-radius:.1rem;
    background:$primary-color;
    color:white;
}

@media screen and (max-width:1000px){
    .cart_wrapper {
        display: block;
    }
}