.index {
    @include flexbox(center , flex-start);
    gap:2rem;
    padding:1rem;
}
.index__aside {
    flex:.20;
    font-size:.9rem;
    // padding:1rem;
}
.index_categories {
    border:1px solid $light;
    padding:1rem;
    a{
        color:black;
    }
}
.index__main{
    flex:.8;
    .productDisplay__imgWrapper{
        height:10rem;
    }
}
.index__tag{
    background:$primary-color;
    color:white;
    padding:.9rem 1rem;
    border-radius:.2rem;
    text-transform:uppercase;
    font-size:.9rem;
}
.index__bannerGrid{
    @include grid(1fr 1fr);
    grid-template-rows: 14rem 14rem;
    gap:.5rem;
    margin-bottom:1rem;
}
.index__latestItemsWrapper{
    @include grid(1fr 1fr 1fr);
    gap:.5rem;
}
