.productDisplay {
    margin :1rem auto;
    border:1px solid $light;
    border-radius:.1rem;
}

.ProductDisplay__wrapper{
    color:black;
    text-decoration: none;
}
.productDisplay__imgWrapper{
    height:5rem;
    flex:.5;
    position: relative;
    img {
        object-fit:cover;
    }
}
.productDisplay__info {
    flex:.4;
    p {
        margin:.1rem auto;
    }
}

.productDisplay--flex {
    @include flexbox(space-between , center);
}


.productDisplaySkel {
    padding:1rem;
    height:10rem;
    width:100%;
    background: $skel_base_color;
    margin: 1rem auto;
    @include flexbox(space-between , center);
}

.productDisplaySkel__imgWrapper{
    height:100%;
    flex:.5;
    background:$skel_item_color;
}

.productDisplaySkel__infoWrapper {
    flex:.4;
}
.productDisplaySkel__text{
    width:70%;
    height:1.2rem;
    background:$skel_item_color;
    margin:.6rem auto;
    border-radius:.2rem;
    float:right;
}

.productDisplaySkel__text--wide{
    width:95%;
}